body {
    font-family: "VCR OSD Mono" !important;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #F0F0F0;
    color: #0F0F0F;
}

.side-menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #0F0F0F;
}

.side-menu-container>webtitle {
    color: #F0F0F0;
    background-color: #0F0F0F;
    height: 200px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}

articlename {
    margin-top: 60px;
    margin-right: auto;
    margin-left: auto;
    color: #F0F0F0;
    display: block;
    flex-wrap: wrap;
    text-align: center;
    font-size: 32px;
    width: fit-content;
}

.menu {
    list-style: none;
    position: fixed;
    margin: 0;
    display: flex;
    left: 0;
    padding: 0;
}

.side-menu-button {
    list-style: none;
    margin: 0;
    padding: 2.5px 8px 2.5px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #F0F0F0;
    background-color: #0F0F0F;
    font-family: 'VCR OSD Mono';
    width: 250px;
    cursor: pointer;
    font-size: 24px;
    top: 0;
    position: relative;
    transition: 0.5s;
    height: 64px;
    justify-content: center;
    border-width: 0;
}

.side-menu-button:hover {
    background-color: #F0F0F0;
    color: #0F0F0F;
    font-size: 32px;
}

.mid-menu-container {
    position: fixed;
    top: 0;
    left: 250px;
    width: 250px;
    height: 100%;
    background-color: #0F0F0F;
    display: none;
}

.mid-menu-container.active {
    position: fixed;
    top: 0;
    left: 250px;
    width: 250px;
    height: 100%;
    background-color: #0F0F0F;
    display: block !important;
}

.mid-menu-button:hover {
    background-color: #F0F0F0;
    color: #0F0F0F;
    font-size: 32px;
}

.mid-menu-button {
    list-style: none;
    margin: 0;
    padding: 2.5px 8px 2.5px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #F0F0F0;
    background-color: #0F0F0F;
    font-family: 'VCR OSD Mono';
    width: 250px;
    cursor: pointer;
    font-size: 24px;
    top: 0;
    position: relative;
    transition: 0.5s;
    height: 64px;
    justify-content: center;
    border-width: 0;
}

.section {
    display: none !important;
}

.section.active {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul {
    padding: 0;
}

article {
    left: 500px;
    height: 100%;
    position: fixed;
    width: -webkit-fill-available;
    display: none;
}

article.active {
    display: block !important;
}

article#colorétte {
    background: linear-gradient(to bottom, #00247c, #000000);
}

articledescription {
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    color: #F0F0F0;
    display: block;
    flex-wrap: wrap;
    text-align: center;
    font-size: 16px;
    width: fit-content;
}

iframe.projectembed {
    margin: auto;
    display: block;
    margin-top: 60px;
    border-width: 0;
    width: 90%;
    height: 75%;
    border-radius: 25px;
}